<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-draggable-nested-tree@latest/dist/vue-draggable-nested-tree.js"></script>
    <script src="https://unpkg.com/tree-helper@latest/dist/tree-helper.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.24.3/vuedraggable.umd.js"
        integrity="sha512-MPl1xjL9tTTJHmaWWTewqTJcNxl2pecJ0D0dAFHmeQo8of+F9uF7zb2bazCX7m45K3mKRg44L1xJDeFzjmjRtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- Latest Sortable -->
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <!-- Sortable Grid -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div id="app">
        <h3>Vue Js Resize div on drag and drop</h3>
        <div class="Block" ref="block">
            <div id="Resizable1" :style="{ width: resizable1Width + '%' }"  style='background-color:#C51162;'class="ResizableBlock"></div>
            <div id="Draggable" draggable="true" @mousedown="startDrag" class="Draggable"></div>
            <div id="Resizable2" :style="{ width: 100 - resizable1Width + '%' }"  style='background-color:#AA00FF;' class="ResizableBlock">
                <div class="container" >
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a :class="selectedTab === 1 ? 'nav-link active' : 'nav-link'" @click="selectedTab = 1"
                                aria-current="page">User Info</a>
                        </li>
                        <li class="nav-item">
                            <a :class="selectedTab === 2 ? 'nav-link active' : 'nav-link'"
                                @click="selectedTab = 2">Associated Customers & Groups</a>
                        </li>
                        <li class="nav-item">
                            <a :class="selectedTab === 3 ? 'nav-link active' : 'nav-link'"
                                @click="selectedTab = 3">Products</a>
                        </li>
                    </ul>

                    <div class="row" v-if="selectedTab === 1">
                        Tab content with 500px height
                    </div>
                    <div class="row" v-if="selectedTab === 2">
                        Tab content with 200px height
                    </div>
                    <div class="row" v-if="selectedTab === 3">
                        Tab content with 300px height
                    </div>



                </div>


            </div>
        </div>
    </div>

    <script type="module">
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    draggable: false,
                    resizable1Width: 20,
                };
            },
            methods: {
                startDrag() {
                    this.draggable = true;
                    window.addEventListener("mousemove", this.handleDrag);
                    window.addEventListener("mouseup", this.stopDrag);
                },
                handleDrag(event) {
                    if (this.draggable) {
                        const draggableWidth = event.clientX - this.$refs.block.getBoundingClientRect().left;
                        const blockWidth = this.$refs.block.offsetWidth;
                        const newResizable1Width = (draggableWidth / blockWidth) * 100;
                        this.resizable1Width = newResizable1Width.toFixed(2);
                    }
                },
                stopDrag() {
                    this.draggable = false;
                    window.removeEventListener("mousemove", this.handleDrag);
                    window.removeEventListener("mouseup", this.stopDrag);
                },
            },
        });
    </script>

    <style>
        #app {
            text-align: center;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
            width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .Block {
            display: flex;
            align-items: center;
        }

        .ResizableBlock {
            border: 1px solid black;
            height: 200px;
        }

        .Draggable {
            background: rgba(1, 1, 1, 0.2);
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            border-top: 1px solid black;
            cursor: col-resize;
            height: 200px;
            width: 10px;
        }
    </style>
</body>

</html>